body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

section {
    margin: 20px 0;
}

h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}
